<div class="o-row">
    <div class="o-col-10@lg o-col-8@xl o-offset-1@lg u-mb-4 u-mr-auto">
      <h2 class="u-h1 u-font-normal">Tags</h2>
    </div><!-- /.o-col -->
</div>
<div class="o-row u-mb-5">
  <div class="o-col-10@lg o-col-8@xl o-offset-1@lg u-mb-4 u-mr-auto">
    <span>
      {% assign tags = site.documentation | all_tags %}
      {% for tag in tags %}
      {% assign tag_slug = tag['name'] | slugify: "raw" %}
      <a class="tag" href={{ site.dox.baseurl | append: "/tags/" | append: tag_slug | append: "/" }}>
        <code>
          {{ tag['name'] }} ({{ tag['count'] }})
        </code>
      </a>
      {% endfor %}
    </span>
  </div>
</div>